/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    background-color: #fef4ea;
    position: fixed; 
    top: 0;
    z-index: 100;
    width: 100%;
}

.header .title {
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    padding-left: 50px;
}

.header .start {
    padding-right: 50px;
    color: #5B8ADC;
}