@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

#logo-container {
  cursor: pointer;
}

#hero-container {
  background-image: url("../public/hero.png");
  background-size: cover;
  background-position: center;
}

#about-container {
  background-image: url("../public/about.png");
  background-size: cover;
  background-position: center;
}

#start-container {
  background-image: url("../public/start.png");
  background-size: cover;
  background-position: center;
}

a {
  color: #0070f3;
  text-decoration: none;
  font-size: 30px;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.thetable {
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  margin-bottom: 80px;
}

td,
th {
  text-align: center;
  padding: 8px;
}

td button {
  padding: 4px 8px;
}

th {
  font-weight: bolder;
}
