@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

#logo-container {
  cursor: pointer;
}

a {
  color: #0070f3;
  text-decoration: none;
  font-size: 30px;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.thetable {
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  margin-bottom: 80px;
}

td,
th {
  text-align: center;
  padding: 8px;
}

td button {
  padding: 4px 8px;
}

th {
  font-weight: bolder;
}

/* Chatbot */

/* #chatbot-content {
  animation: slide-up 0.5s ease;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
} */
